body{
background-image:url(../images/3.jpg); 
width: 40%;
font-family: sans-serif;
background-color: #F9E79F;
}
header h1{color:green;

}

p img{margin-left:20%;
padding:10%;

margin-left:10px }

h1{
font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-size:100px;
color: #212F3C  ;
margin-left: 50%;
color: #1C2833 ;
text-align: center;
}

a{text-decoration: none;color:green;}

div .page-wrapper{
	margin-left: 100px;
width: 100%;}


div .summary {
	margin-left: 50%;
border-style: dashed; 
border-width: 4px; 
border-color:white ;
font-family: 'Coiny', cursive;
font-family: 'Mogra', cursive;
font-family: 'Marck Script', cursive;
width: 500px;
}
a[href="/examples/index"]{font-style: cursive; 
color: green;}

h2{color: #1C2833 ;
margin-left:50%;

}
.preamble{margin-left: 50%;

border-style: dashed; 
border-width: 4px; 
border-color:white ;
font-family: 'Indie Flower', cursive;
width: 500px
}


.preamble:first-line{font-size: 45px}

div #zen-supporting h3{font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Covered By Your Grace', cursive;
color: #0489B1}

div #zen-supporting div{
color:#858690;
text-align:justify;}

div #zen-supporting h3:first-line{
font-size: 40px;}

div #zen-supporting p:first-letter{color:rgba(68,9,73,0.6);
font-size: 30px;
font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Satisfy', cursive;}

div #zen-supporting{margin: 50px;
border-style: solid 50px;
}

.sidebar h3{font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Satisfy', cursive;}

.sidebar ul li{
display:inline-block;}

